
* {
    box-sizing: border-box;
}

body {
    background-image: url("9442.webp");
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium';
    margin: 0;
}

h1 {
    font-weight: normal;
    font-size: 1.618rem;
    margin-top: 2rem;
    margin-bottom: -1rem;
    animation: flicker 6.0s infinite alternate;     
    animation: pulsate 0.6s infinite alternate;     
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

@keyframes pulsate {
    100% {
    /* Larger blur radius */
    text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }

    flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
}

20%, 24%, 55% {        
    text-shadow: 2px 2px 40px gold;
    }    
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-shadow: 2px 2px 80px cyan,4px 4px 180px cyan;
}

.big-text {
    animation: flicker 7.0s infinite alternate;     
    animation: pulsate 0.8s infinite alternate;     
    font-size: 3.618rem;
    line-height: 0.4;
    margin: 1rem 1rem;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px cyan,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px cyan,
        0 0 102px cyan,
        0 0 151px cyan;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.0rem;
}

.ligth-1 {
    animation: flicker 1.0s infinite alternate;     
    animation: pulsate 0.1s infinite alternate;     
    font-size: 2.0rem;
    position: relative;
    margin: 8.9em 0 0 24.3em;
    filter: blur(0.18rem);
    z-index: -9999999999;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px cyan,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px cyan,
        0 0 102px cyan,
        0 0 151px cyan;
}

.ligth-2 {
    animation: flicker 1.0s infinite alternate;     
    animation: pulsate 0.1s infinite alternate;     
    font-size: 2.0rem;
    position: relative;
    margin: -0.3em 0 0 24.2em;
    filter: blur(0.18rem);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px cyan,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px cyan,
        0 0 102px cyan,
        0 0 151px cyan;
}
.ligth-lb {

    animation: flicker 2.0s infinite alternate;     
    animation: pulsate 1.9s infinite alternate;     
    font-size: 2.0rem;
    position: relative;
    margin: -0.3em 0 0 -22em;
    filter: blur(0.9rem);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px cyan,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px cyan,
        0 0 102px cyan,
        0 0 151px cyan;
}
.ligth-lb1 {

    animation: flicker 2.0s infinite alternate;     
    animation: pulsate 1.9s infinite alternate;     
    font-size: 2.0rem;
    position: relative;
    margin: -0.4em 0 0 -14em;
    filter: blur(0.6rem);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px cyan,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px cyan,
        0 0 102px cyan,
        0 0 151px cyan;
}
.ligth-lb2 {

    animation: flicker 2.0s infinite alternate;     
    animation: pulsate 1.9s infinite alternate;     
    font-size: 2.0rem;
    position: relative;
    margin: -0.8em 0 0 -6.6em;
    filter: blur(0.6rem);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px cyan,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px cyan,
        0 0 102px cyan,
        0 0 151px cyan;
}
.ligth-lb2 {

    animation: flicker 2.0s infinite alternate;     
    animation: pulsate 1.9s infinite alternate;     
    font-size: 2.0rem;
    position: relative;
    margin: -0.8em 0 0 -6.6em;
    filter: blur(0.1rem);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px cyan,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px cyan,
        0 0 102px cyan,
        0 0 151px cyan;
}
.ligth-lb3 {

    animation: flicker 2.0s infinite alternate;     
    animation: pulsate 1.9s infinite alternate;     
    font-size: 2.0rem;
    position: relative;
    margin: -1.2em 0 0 1.80em;
    filter: blur(0.2rem);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px cyan,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px cyan,
        0 0 102px cyan,
        0 0 151px cyan;
}
.ligth-lb4 {

    animation: flicker 2.0s infinite alternate;     
    animation: pulsate 1.9s infinite alternate;     
    font-size: 2.0rem;
    position: relative;
    margin: -1.2em 0 0 1.80em;
    filter: blur(0.2rem);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px cyan,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px cyan,
        0 0 102px cyan,
        0 0 151px cyan;
}
.ligth-lb5 {

    animation: flicker 2.0s infinite alternate;     
    animation: pulsate 1.9s infinite alternate;     
    font-size: 2.0rem;
    position: relative;
    margin: -1.4em 0 0 12.7em;
    filter: blur(0.2rem);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px cyan,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px cyan,
        0 0 102px cyan,
        0 0 151px cyan;
}
.ligth-lb6 {

    animation: flicker 2.0s infinite alternate;     
    animation: pulsate 1.9s infinite alternate;     
    font-size: 2.0rem;
    position: relative;
    margin: -1.2em 0 0 1.69em;
    filter: blur(0.2rem);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px cyan,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px cyan,
        0 0 102px cyan,
        0 0 151px cyan;
}

.ligth-la1 {

    animation: flicker 9.0s infinite alternate;     
    animation: pulsate 9.1s infinite alternate;     
    font-size: 2.0rem;
    position: absolute;
    margin: 9em 0 0 40em;
    filter: blur(0.3rem);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px cyan,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px cyan,
        0 0 102px cyan,
        0 0 151px cyan;
}
.ligth-la2 {

    animation: flicker 9.0s infinite alternate;     
    animation: pulsate 9.1s infinite alternate;     
    font-size: 2.0rem;
    position: absolute;
    margin: 9em 0 0 40em;
    filter: blur(0.4rem);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px cyan,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px cyan,
        0 0 102px cyan,
        0 0 151px cyan;
}

.ligth-la3 {

    animation: flicker 9.0s infinite alternate;     
    animation: pulsate 9.1s infinite alternate;     
    font-size: 2.0rem;
    position: absolute;
    margin: 8.3em 0 0 36em;
    filter: blur(0.3rem);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px cyan,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px cyan,
        0 0 102px cyan,
        0 0 151px cyan;
}
.ligth-la4 {

    animation: flicker 9.0s infinite alternate;     
    animation: pulsate 9.1s infinite alternate;     
    font-size: 2.0rem;
    position: absolute;
    margin: 8.3em 0 0 36em;
    filter: blur(0.5rem);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px cyan,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px cyan,
        0 0 102px cyan,
        0 0 151px cyan;
}
